# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[Makefile.*]
indent_style = tab

[*.jinja]
indent_size = 2

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[*.json]
indent_size = 4

[*.py]
indent_size = 4

[sublime-package.json]
indent_size = 2

[*.{sublime-commands,sublime-keymap,sublime-menu,sublime-mousemap}]
indent_size = 4

[*.sublime-settings]
indent_style = tab
indent_size = 4

[*.sublime-syntax]
indent_size = 2

[*.tmPreferences]
indent_size = 4
