.dependabot export-ignore
.editorconfig export-ignore
.flake8 export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
.gitmodules export-ignore
.style.yapf export-ignore
.travis.yml export-ignore
codecov.yml export-ignore
docs/ export-ignore
mkdocs.yml export-ignore
mypy.ini export-ignore
pyproject.toml export-ignore
pyrightconfig.json export-ignore
requirements.txt export-ignore
scripts/ export-ignore
stubs/ export-ignore
tests/ export-ignore
tox.ini export-ignore
typings/ export-ignore
unittesting.json export-ignore
