<style>
  html {
    --copilot-delete-foreground: var(--redish);
    --copilot-delete-background: var(--background);
    --copilot-delete-border: var(--redish);

    --copilot-close-foreground: var(--foreground);
    --copilot-close-background: var(--background);
    --copilot-close-border: var(--foreground);

    --copilot-accept-foreground: var(--foreground);
    --copilot-accept-background: var(--background);
    --copilot-accept-border: var(--greenish);
  }

  .wrapper {
    margin: 1rem 0.5rem 0 0.5rem;
  }

  .wrapper hr {
    color: color(var(--foreground) a(0.25));
  }

  .wrapper .navbar .suggested-title {
    display: inline-block;
    text-size: 1.2em;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .wrapper .navbar {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .wrapper .header {
    display: block;
    margin-bottom: 1rem;
  }

  .wrapper a {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    display: inline;
    padding: 2px;
    text-decoration: none;
  }

  .wrapper a.icon-link {
    border-radius: 0px;
    border-style: none;
    border-width: 0px;
    display: inline;
    text-decoration: underline;
  }

  .wrapper a.rating {
    border-radius: 0px;
    border-style: none;
    border-width: 0px;
    display: inline;
    padding: 2px;
    text-decoration: none;
  }

  .wrapper a.delete {
    border-radius: 0px;
    border-style: none;
    border-width: 0px;
  }

  .wrapper a.delete i {
    color: var(--copilot-delete-border);
  }

  .wrapper a.icon-link {
    border-radius: 0px;
    border-style: none;
    border-width: 0px;
  }

  .wrapper a.close {
    border-radius: 0px;
    border-style: none;
    border-width: 0px;
  }

  .wrapper a.accept {
    background: var(--copilot-accept-background);
    border-color: var(--copilot-accept-border);
    color: var(--copilot-accept-foreground);
  }

  .wrapper a.accept {
    background: var(--copilot-accept-background);
    border-color: var(--copilot-accept-border);
    color: var(--copilot-accept-foreground);
  }

  .wrapper a.accept i {
    color: var(--copilot-accept-border);
  }

  .wrapper .kind {
    padding: 1px;
    color: color(var(--greenish) alpha(1));
  }

  .wrapper .kind.report {
    color: color(var(--yellowish) alpha(1));
  }

  .wrapper .icon {
    width: 1.25em;
    height: 1.25em;
    color: var(--foreground)
  }

  .wrapper .icon.delete-icon {
    width: 1em;
    height: 1em;
    color: var(--foreground)
  }
</style>

<div class="navbar">
  <a class="icon-link" title="Delete Conversation" href='{{ delete_url }}'><img class="icon" src="{{ base64_resource_url('trash.png') }}"></a>
  <a class="close" title="Close Conversation" href='{{ close_url }}'><img class="icon" src="{{ base64_resource_url('close.png') }}"></a>
  <h3 class="suggested-title">
    Copilot Chat {% if suggested_title %}| {{ suggested_title }}{% endif %}
  </h3>
</div>

---

{% for section in sections %}

<div class="header">
{% if section.kind == "report" %}
  <a class="rating" title="Thumbs Up" href='{{ section.thumbs_up_url }}'><img class="icon" src="{{ base64_resource_url('thumbs_up.png') }}"></a>
  <a class="rating" title="Thumbs Down" href='{{ section.thumbs_down_url }}'><img class="icon" src="{{ base64_resource_url('thumbs_down.png') }}"></a>
{% else %}
  <a class="delete" title="Delete Turn" href='{{ section.turn_delete_url }}'><img class="icon delete-icon" src="{{ base64_resource_url('trash.png') }}"></a>
{% endif %}
</div>

<span class="kind {{ section.kind }}">
  {%- if section.kind == "report" -%}
    <img class="icon" src="{{ base64_resource_url('github.png') }}"> Github Copilot
  {%- else -%}
    {% if avatar_data_url %}<img class="icon" src="{{ avatar_data_url }}">{% endif %}
    {{ section.kind }}:
  {%- endif -%}
</span>

{{ section.message }}

---

{% endfor %}

{% if follow_up %}
Follow up: <a class="icon-link" href='{{ follow_up_url }}'>{{ follow_up }}</a>
{% endif %}
